#canvas {
    margin: auto;
    background: #ececec;
    width: 70%;
  }  
.btn-disabled {
    color: #fff !important;
  }
.custom-file-input{
     margin: auto;
     margin-top: 5%;
     font-weight: bold;
     width: 40%;
     padding: 4px;
     color: white;
     text-align: center;
     background: #800080;
     cursor: pointer;
}
#upload-file {
     display: none;
}

